p{
	text-align : justify;
}
.cajaPrincipal{
	margin-top:5%;
}

.pretitulo{
	font-weight:bold;
}

.pinchoInicio{
	border: 1px solid black;
	border-radius: 2.5px 2.5px 2.5px 2.5px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left:5px;
	padding-right:5px;
	margin:10px;
}

.tituloPincho a{
	text-decoration:none;
	color: black;
}

.caja-login {
	margin-top:15%;
}

.registro {
	margin-top:5%;
}

.cajaCodigos{
	display: block;
	width: 100%;
	height: 100px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.cajaCodigosU{
	width:50%;
	margin: 0 auto;
}

.tituloIndex{
	text-align:center;
	margin-bottom:5%;
}

.descripcionIndex{
	border-bottom:1px solid black;
	border-radius:2.5px;
	padding-bottom:2%;
	margin-bottom:7.5%;
}

.datosPin{
	margin: 0 auto;
	width:80%;
	padding-left:10%;
	padding-right:10%;
}

.imgPincho{
	height:75%;
	width:75%;
}

.cajaImgPincho p{
	text-align:center;
}

.inputValoracion{
	padding:10px;
}
